<form action="/themsanpham" method="post">
    <div class="form-group">
        <label for="tensp" style="color: white;"> Ten </label>
        <input type="text" name="tensp" class="form-control" id="tensp"
            placeholder="Ten">
    </div>
    <div class="form-group">
        <label for="giasp" style="color: white;"> Gia </label>
        <input type="text" name="giasp" class="form-control" id="giasp"
            placeholder="Gia">

    <div class="form-group">
        <label for="soluong" style="color: white;"> So luong </label>
        <input type="text" name="soluong" id="soluong" class="form-control"
            placeholder="soluong">
    </div>
    <div class="form-group">
        <label for="khuyenmai" style="color: white;"> Khuyen mai </label>
        <input type="text" name="khuyenmai" id="khuyenmai" class="form-control"
            placeholder="khuyenmai">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </div>
</form>